<div>
      <ul class="timeline">
        <%= for (var i = 0; i < photos.length; i++) { %>
        <li class="timeline-photo">
            <div class="timeline-time">
                <span class="date" style="text-align:left">
                <%= photos[i].type %>
                 </span>
                <span class="time" style="font-weight:700;font-size:25px;line-height:20px;text-align:left;">
                <%= photos[i].dateTime %> </span>
            </div>
        </li>
        <% } %>
    </ul>
    </div>